<% throw_content(:head) do %>
<script type="text/javascript" charset="utf-8">
var error_url = "<%= params[:error_url] %>";
var upload_progress_uuid = "<%= @progress_id %>";
var uploading_iframe_url = null;
<% if params[:uploading_iframe_url] %>
uploading_iframe_url = "<%= params[:uploading_iframe_url] %>";
<% end %>

$(document).ready(function() {
  // Everything happens in jquery.nginxUploadProgress.js
  jQuery.nginxUploadProgress({uuid: upload_progress_uuid});
});
</script>
<% end %>

<div id="pandaloader">
  <div id="error"></div>

  <div id="uploader">
    <form id="upload" enctype="multipart/form-data" action="/videos/upload?X-Progress-ID=<%= @progress_id %>&amp;<%= params.except('controller', 'action', 'format', 'revert_url').to_query %>" method="post">
      <input id="file_upload" name="file" type="file" /><% if params[:revert_url] %> or <a class="cancel" href="<%= params[:revert_url] %>">keep <%= params[:existing_filename] ? params[:existing_filename] : 'my original file' %></a><% end %>
      <!-- for jquery.form to pick up and create the uploader iframe -->
      <input name="iframe" type="hidden" value="true" />
    </form>
  </div>

  <div id="uploading" style="display:none">
    <div id="progress" class="bar">
      <div id="progressbar">&nbsp;</div>
    </div>
    <a class="cancel" href="<%= params[:cancel_url] + '?' if params[:cancel_url] %><%= request.full_uri + '?' + request.query_string %>">cancel upload</a>
    <div class="status"></div>
  </div>
</div>

<iframe id="uploading_notifier_iframe" src="" style="display:none"></iframe>
